# Ignore node_modules
node_modules/

# Ignore any log files
*.log

#Ignore buffer images
img/

# Ignore local storage
telegramStorage.json

# Ignore local environment
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore npm debugging log
npm-debug.log*